*{
font-family: 'Verdana';
padding:0;
margin:0;
border:0
}
header{
background-color: rgb(255,255,255);

}
#header-logo{
width:64px;
height:64px;
}
#header-msg{
font-size: 25px;
color:#000;
float:right
}

#tableHead{
background-color:rgb(255,255,255);
}

#searchInput{
height: calc(1.5em + .75rem + 2px);
padding: .375rem .75rem;
border-bottom: 1px solid black;
}
#searchInput:hover,#searchInput:focus{
box-shadow: none;
outline:none;
}

.back{
float: left;
margin-left: 15px;
margin-top: 5px;
width: 40px;
}

.links{
width: 33px;
margin-top: 9px;
}

.title{
text-align:center;
height: 50px;
background-color: white;
font-size: 30px;
margin-right: 220px;
box-shadow: #000;
}

.home{
margin-right: 0px;
}

.menu{
width: 110px;
margin-left: 100px;
margin-right: 100px;
margin-top: 300px;
}

.mapVagas{
position: absolute;
width: 90px;
height: 180px;
font-size: 50px;
color: white;
border:solid 1px;
border-color: #000;
background-color: #79d463ff;
}

.busy{
background-color: #e05a5aff
}

.free{
background-color: #79d463ff;
}

.parking-row {
display: flex;
justify-content: center;
margin-bottom: 20px;
}

.parking-space {
width: 100px;
height: 150px;
background-color: #ffffff;
border: 1px solid black;
border-radius: 6px;
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
font-size: 18px;
position: relative;
cursor: pointer;
transition: background-color 0.3s, transform 0.3s;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
margin-left: 10px;
color: black;
font-size: 40px;
}

.parking-space:hover {
transform: scale(1.15);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.parking-info {
max-width: 800px;
margin: 0 auto;
text-align: center;
}

.parking-info p {
margin: 10px 0;
}

.parking-space:not(.occupied)::after {
content: '';
position: absolute;
bottom: 12px;
left: 50%;
transform: translateX(-50%);
width: 98px;
height: 20px;
background-color: #27ae60; 

}

.parking-space.occupied::after {
content: '';
position: absolute;
bottom: 12px;
left: 50%;
transform: translateX(-50%);
width: 98px;
height: 20px;
background-color: #e74c3c;
}

.parking-space:not(.occupied):hover {
background-color: #27ae60;
color: white
}

.parking-space.occupied:hover {
background-color: #e74c3c;
color: white
}

.destaque {
    font-weight: bold;
    border: 5px solid #e74c3c;
    transition: all 0.1s ease-in-out;
    border-radius: 10px;
  }
  
#btnOne{
background-color: rgb(255,255,255);
border-color: #27ae60;
border-width: 2px;
color: black
}

#btnOne:hover{
background-color: #27ae60;
color: white;
}

.mapa {
    position: fixed;
    margin-left: 400px;
    margin-top: 35px;
}

.col-md-10 {
    margin-left: -200px;
}

.col-md-9 {
    margin-left: -250px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 20px;
    padding-top:20px;
    }

.col-md-5 {
    position: fixed;
    margin-left: 700px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 20px;
    padding-top:20px
}

.icon{
    width: 50px;
    float: right;
    margin-right: 10px;
}

#tituloForm {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.form-group input {
    border-radius: 1px;
    border: 1px solid black;
}

.form-group input:focus{
    border: 2px solid green;
    border-radius: 1px;
}

.title-bold{
    font-weight: bold;
}